::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
/* 两个滚动条交接处 -- x轴和y轴 */
::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #d1cbcb;
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #ededed;
}
:root {
  --link:#007fff;
  --pink: #FF6699;
  --text2:#61666d;
  --icon:#9499a0;
}
body{
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #636d7e;
}
*{
  box-sizing: border-box;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: middle;
}
.a-link{
  text-decoration: none;
  color: var(--link);
  cursor: pointer;
}
.el-form-item {
  align-items: center;
}
.container-body{
  margin: 0 auto;
  padding: 5px;
}
.el-button{
  .iconfont::before{
    margin-right: 5px;
  }
}